#navigation{
   background-color: #FFFAF0
   ;

}
#nav-pills{
    list-style: none;
    text-align: left;
}
.nav-element{
    text-decoration: none;
    color: #F6AD55;

}
#navigation .nav-list{
 display: inline-block;
 padding: 1rem 2rem;
 text-align: left;
}